* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f5f8;
}

.container {
    max-width: 50vw;
    margin: 2rem auto;
}

.header h1 {
    text-align: center;
    letter-spacing: 5px;
    font-size: 40px;
    border-bottom: 3px solid black;
    margin: 2rem 0;
}

.single-task {
    background: #fff;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 1rem 0;
}
.task-actions {
    display: flex;
}

.task-actions > button {
    border: none;
    background: none;
}

.task-actions > button a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    background: #49a6e9;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.delete-btn {
    font-size: 18px;
    font-weight: 700;
    background: #49a6e9;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary-btn {
    text-align: center;
    margin: 2rem 0;
}
button {
    border: none;
    border-radius: 5px;
}
.primary-btn button a {
    text-decoration: none;
    background: #49a6e9;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

/* taskview styles */

.tasks-field {
    width: 80%;
    margin: 5rem auto;
}

.tasks-field input {
    width: 100%;
    padding: 1rem;
    font-size: 20px;
}
